.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #2f1430;
}

.yellow-space {
  height: 200px;
  width: 200px;
  background-color: yellow;
  border-bottom-right-radius: 200px;
}
.yellow-space:hover {
  filter: brightness(0.55);
}
.red-space {
  height: 200px;
  width: 200px;
  background-color: red;
  border-top-left-radius: 200px;
}
.red-space:hover {
  filter: brightness(0.55);
}
.green-space {
  height: 200px;
  width: 200px;
  background-color: green;
  border-bottom-left-radius: 200px;
}
.green-space:hover {
  filter: brightness(0.55);
}
.blue-space {
  height: 200px;
  width: 200px;
  background-color: blue;
  border-top-right-radius: 200px;
}
.blue-space:hover {
  filter: brightness(0.55);
}
